@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	/*height: 200vh;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
}	

h1, h2 {
	font-size: 1.5rem;
}

h1 {
	text-align: justify;
	margin: 0 auto;
}
.menu {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
main {
	margin: 0.5rem auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
	background-color: #bed;
	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
	justify-content: center;
}

input,
button {
	padding: 0.35rem;
	margin-left: 1rem;
	font-size: 1.1rem;
}

input {
	width: 250px;
}

label {
	font-size: 0.9rem;
}
.listcontainer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1rem;
}
picture img {
	border-radius: .5rem;
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.list {
	margin: 0.2rem;
}

ul {
	margin: 1rem;
	list-style: none;
}

.sum {
    margin: 1rem;
}
.disclaimer {
	color: red;
}
li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 960px;
	}
}
